.main-content-full-width {
    width: 100%;
    flex: 1;
    display: flex;
}

.layout-full-width {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}


@media (max-width: 770px) {
    .main-content-full-width {
        margin-top: 0;
    }
}