.org-salary-rows {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.salary-row {
    display: flex;
    gap: 40px;
    align-items: center;
}

.salary-username {
    width: 100px;
}