.resources-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    background: rgba(61, 62, 64, .5);
    padding: 10px;
    border: 1px solid rgba(211, 211, 211, 0.22);
    border-radius: 12px;
}

.resources__ceil {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(61, 62, 64, .5);
    padding: 10px;
    border: 1px solid rgba(211, 211, 211, 0.22);
    border-radius: 12px;
    gap: 3px;
}

.resources__ceil-image-wrapper {
    width: 100%;
    height: 90%;
}

.resources__ceil-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resources__ceil-title {
    text-align: center;
    background: #000;
    color: #FFF;
}

@media (max-width: 1100px) {
    .resources-content {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 968px) {
    .resources-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 968px) {
    .resources__ceil {
        height: 100px;
    }
}

@media (max-width: 500px) {
    .resources-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .resources__ceil-title {
        font-size: 12px;
    }
}

@media (max-width: 340px) {
    .resources-content {
        grid-template-columns: repeat(2, 1fr);
    }
}