.suborgs-management {
    margin-top: 30px;
    background: rgba(61,62,64, .5);
    border: 1px solid rgba(211, 211, 211, 0.22);
    padding: 20px;
    border-radius: 12px;
}

.suborgs-management:empty {
    display: none;
}

.suborgs-management h2, .suborgs-management h3 {
    text-align: center;
    color: #D6D6D6;
}

.suborgs-management-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    gap: 50px;
}

.suborgs-management-table {
    margin-top: 25px;
}

.suborgs-management-table-head, .suborgs-management-table-content-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.suborgs-management-table-ceil {
    display: flex;
    align-items: center;
    justify-content: center;
}

.suborgs-management-table-ceil span {
    color: #B0B0B0;
}

.suborgs-management-table-content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.suborgs-management-table-ceil-first {
    display: flex;
    justify-content: start;
}

.suborgs-management-table input[type="number"] {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    height: 30px;
    font-size: 16px;
    color: #FFF;
    border: 1px solid rgba(211, 211, 211, 0.22);
    background: #888888;
}

.suborgs-management-table input[type="number"].input-with-dollar-back {
    background: url(/image/dollar.png), #888888;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right;
}

@media (max-width: 1024px) {
    .suborgs-management-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 540px) {
    .suborgs-management-table {
        width: 450px;
    }

    .suborgs-management {
        overflow-x: auto;
    }
}