.transfer-to-org-balance-wrapper h2 {
    text-align: center;
    color: #D6D6D6;
}

.input-with-dollar-back {
    background-image: url('/image/dollar.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right;
    border: 1px solid #000;
}

.transfer-to-org-balance-wrapper {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid rgba(211, 211, 211, 0.22);
    background: rgba(61,62,64, .5);
    border-radius: 12px;
}

.transfer-to-org-balance-wrapper input[type="number"] {
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.transfer-to-org-balance-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    align-items: start;
}

.transfer-to-org-balance-row {
    display: flex;   
    align-items: center;
}

.transfer-to-org-balance-row div {
    width: 250px;
}

.sum-to-transfer-btn {
    padding: 10px 20px;
    border-radius: 20px;
    background: #8C5C5C;
    color: #FFF;
    margin-top: 20px;
    transition: all .3s;
}

.sum-to-transfer-btn:hover {
    opacity: .5;
}

.sum-to-transfer-btn-to-admin {
    margin-left: 20px;
}

.transfer-to-org-balance-row__current-balance,
.transfer-to-org-balance-row__current-admin-balance,
.transfer-to-org-balance-row__money-to-transfer {
    color: #B0B0B0;
}

@media (max-width: 600px) {
    .transfer-to-org-balance-row {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .sum-to-transfer-btn {
        width: 100%;
    }

    .sum-to-transfer-btn-to-admin {
        width: 100%;
        margin-left: 0;
    }
}