#typical-dashboard input[type="number"] {
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 16px;
}

.org-salaries {
    margin-top: 30px;
}

#typical-dashboard h2 {
    font-size: 20px;
}

.typical-org-balance {
    margin-top: 30px;
}